
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<div class="row">
    <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
        <h2 class="text-center">Create an account</h2>
        <form onsubmit="return check()" action="/signup" method="post">
             <div class="form-group mt-3">
                 {{#if response}}
                 <p class="error" style="color:forestgreen;">User Already Exist Please login</p>
                 {{/if}}
                <label>Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter Name" required>

            </div>

            <div class="form-group mt-3">
                <label>Email address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter email" required>

            </div>

              <div class="form-group mt-3">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" id="passwords" placeholder="Enter password" required>
                
            </div>
              <div class="form-group mt-3">
                <label> Confirm Password</label>
                <input type="password" class="form-control" name="Password1" id="passwordss" placeholder="Retype password" required>
                <span id="messages" style="color: red;"></span>
            </div>


            <a href="/login">Already have an account?</a>
            <button type="submit" class="btn btn-primary mt-5">SignUp</button>
        </form>
    </div>
    </div>
</div>

<script>
    function check(){
     var a= document.getElementById("passwords").value;
     var b=document.getElementById("passwordss").value;
     if(a!=b){
         document.getElementById("messages").innerHTML="**Enter the same Password in both the fields";
         return false
     }
     if(a.length<5){
         document.getElementById("messages").innerHTML="Password length must be greater than 5 characters";
         return false;
     }
    }
</script>